<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jua.dao.customer.CustomerDao" >

    <select id="Test" resultMap="BaseCustomerHelper.BaseResultMap" parameterType="Object">
        select
        <include refid="BaseCustomerHelper.Base_Column_List"/>
        from t_customer where id = #{id}
    </select>

</mapper>   
